    <div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()"><!--se enlasa con el fromulario a crear-porducto.ts-->
                        <div class="mb-3">
                            <input type="text" formControlName="producto" class="form-control form-control-lg" placeholder="Producto">
                            <div class="text-danger"
                                 *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched"><!--mensaje dinammico cuando falta en producto-->
                                    <span>Campo es <strong>Requerido</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="categoria" class="form-control form-control-lg" placeholder="Categoria">
                            <div class="text-danger"
                                    *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched"><!--mensaje dinammico cuando falta en producto-->
                                    <span>Campo es <strong>Requerido</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="ubicacion" class="form-control form-control-lg" placeholder="Ubicación">
                            <div class="text-danger"
                                 *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched"><!--mensaje dinammico cuando falta en producto-->
                                    <span>Campo es <strong>Requerido</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precio" class="form-control form-control-lg" placeholder="Precio">
                            <div class="text-danger"
                                 *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched"><!--mensaje dinammico cuando falta en producto-->
                                    <span>Campo es <strong>Requerido</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-primary btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>