body {background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;   
}
.btn-primary {
    background-color: #0575E6; 
    color: #ffffff; 
  }
.btn-primary:hover {
    background-color: #030375;
    color: #555454; 
    cursor: pointer;
  }
  .btn-primary:disabled {
    background-color: #4073ff;
    
  }