<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-primary btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >Naranja</td>
                            <td>Fruta</td>
                            <td>Chachagui</td>
                            <td>5.000</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square"></i>
                                <i class="fas fa-solid fa-trash"></i> 
                            </td>
                          </tr>
                          <tr>
                            <td >Pera</td>
                            <td>Fruta</td>
                            <td>Funes</td>
                            <td>6.000</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square"></i>
                                <i class="fas fa-solid fa-trash"></i> 
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>